<html>
 <head>
 </head>
 <body>
<style>

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: left;
}

li.nav a.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  </style>
<ul class="nav">
  <li class="nav"><a class="nav" href="/">Home</a></li>
  <li class="nav"><a class="nav" href="/skills">Skills</a></li>
  <li class="nav"><a class="nav" href="/routines">Routines</a></li>
</ul>
</body>
</html>