<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MAG Routine Planner</title>
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
</head>
<body>
  <h1> Routines </h1>

  <h2>Create new routine</h2>
  <form action="/routines" method="POST">
    <label for="name">Name</label><br>
    <input type="text" name="name"><br>
    <label for="event">Event</label>
    <select name="event" id="event">
      <option value="">Select an event</option>
      <option value="FX">FX</option>
      <option value="PH">PH</option>
      <option value="SR">SR</option>
      <option value="VT">VT</option>
      <option value="HB">HB</option>
    </select> 
    <br>
    <br>
    <button type="submit">Create</button>
  </form>

  <h2>Routines</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Event</th>
      <th>Action</th>
    </tr>
    <% routines.forEach(routine => {%>
      <tr >
        <td><a href="/routines/<%= routine._id %>" ><%= routine.name %></a></td>
        <td><%= routine.event %></a></td>
        <td><button onclick="deleteRoutine('<%= routine._id %>')">Delete</button> </td>
        </tr>
    <% }) %>
    </table>
</body>
</html>
</body>
</html>


<script>
  const deleteRoutine = (routineId) => {
    fetch('/routines', {
      method: 'delete',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        routineId: routineId
      })
    }).then(data => {
      window.location.reload()
    })
  }
</script>